.dx-popup-content p {
  margin-bottom: 10px;
  margin-top: 0;
}

.button-info {
  margin: 10px;
}

.error-title {
  margin-bottom: 30px;

  text-align: center;
  color: red;
}

.error-text {
  font-weight: 700;
  font-size: 16px;
  color: red;
}

.error-desc {
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

.dx-toolbar.dx-widget.dx-visibility-change-handler.dx-collection.dx-popup-title.dx-has-close-button {
  background-color: #ffcbcb;
}

.dx-popup-title .dx-closebutton .dx-icon {
  color: #333;
  white-space: wrap;
  overflow-wrap: break-all;
  height: max-content;
}
