.option {
  // padding-right: 30px;
}

.option > label {
  margin-right: 10px;
}

.option > .dx-selectbox {
  display: inline-block;
  width: 160px;
}

.selectbox {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
