@import "../../dx-styles.scss";
@import "../../themes/generated/variables.additional.scss";

.side-navigation-menu {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  width: 355px;
  padding-bottom: 132px;

  background: linear-gradient(180deg, #004f43 0%, #007664 100%);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

  .menu-container {
    min-height: 100%;
    display: flex;
    flex: 1;

    .dx-treeview {
      // ## Long text positioning
      // white-space: nowrap;
      white-space: wrap;
      overflow-wrap: break-all;
      color: #fff;
      // ##

      // ## Icon width customization
      .dx-treeview-item {
        padding: 10px 0;

        .dx-icon {
          width: $side-panel-min-width !important;
          margin: 0 !important;
        }
      }
      // ##

      // ## Arrow customization
      .dx-treeview-node {
        // padding: 0 0 !important;
        padding-left: 0;
      }

      .dx-treeview-toggle-item-visibility {
        right: 10px;
        left: auto;
        color: #fff;
      }

      .dx-rtl .dx-treeview-toggle-item-visibility {
        left: 10px;
        right: auto;
        color: #fff;
      }
      // ##

      // ## Item levels customization
      .dx-treeview-node {
        &[aria-level="1"] {
          font-weight: 700;
        }

        &[aria-level="1"] .dx-treeview-item-content span {
          margin-right: 25px;
        }

        &[aria-level="2"] .dx-treeview-item-content {
          font-weight: normal;
          // padding: 0 $side-panel-min-width;
          padding-right: 30px;
        }

        &[aria-level="3"] .dx-treeview-item-content {
          padding-left: 80px;
        }

        &[aria-level="3"] .dx-treeview-item-content .dx-icon {
          padding-left: 60px;
        }
      }
      // ##
    }

    // ## Selected & Focuced items customization
    .dx-treeview {
      .dx-treeview-node-container {
        .dx-treeview-node {
          &.dx-state-selected:not(.dx-state-focused) > .dx-treeview-item {
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 25%);
          }

          &.dx-state-selected > .dx-treeview-item * {
            color: #fff;
          }

          &:not(.dx-state-focused) > .dx-treeview-item.dx-state-hover {
            background: rgba(255, 255, 255, 0.3);
            box-shadow: 0px 2px 10px 0px rgb(0 0 0 / 25%);
            color: inherit;
          }
        }
      }
    }

    .dx-theme-generic .dx-treeview {
      .dx-treeview-node-container
        .dx-treeview-node.dx-state-selected.dx-state-focused
        > .dx-treeview-item
        * {
        color: inherit;
      }
    }
    // ##
  }
}

.dx-drawer-overlap.pre-init-blink-fix {
  @import "../../utils/patches.scss";
  @include menu-pre-init-patch;
}
