.master-detail-caption {
  // padding: 0 0 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

img {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.img,
.name {
  display: inline-block;
  vertical-align: middle;
}
