.form-avatar {
  float: left;
  margin-right: 20px;

  height: 120px;
  width: 120px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;

    width: fit-content;
    height: 120px;
  }
}

.passwors-generator {
  margin-left: -42px;

  width: 426px;
  height: 300px;

  transform: scale(0.8);
}

// .dx-placeholder {
//   padding-left: 20px;
// }

.content-block.dx-card.responsive-paddings {
  height: 620px;
}
