@import "./themes/generated/variables.base.scss";

.app {
  background-color: darken($base-bg, 5);
  display: flex;
  height: 100%;
  width: 100%;
}

.app .content {
  // padding: 0 20px;
  line-height: 1.5;

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: 700;
  }
}

.app .content-block {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}

.screen-x-small .content-block {
  margin-left: 20px;
  margin-right: 20px;
}

.responsive-paddings {
  padding: 20px;

  .screen-large & {
    padding: 40px;
  }
}

.dx-card.wide-card {
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  border-right: 0;
  border-left: 0;
}

.with-footer
  > .dx-scrollable-wrapper
  > .dx-scrollable-container
  > .dx-scrollable-content {
  height: 100%;

  & > .dx-scrollview-content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}

$side-panel-min-width: 60px;

html,
body {
  margin: 0px;
  min-height: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.dx-popup-title.dx-toolbar {
  padding: 12px 20px;
  overflow: visible;
  background: linear-gradient(101.59deg, #00937c 0%, #004f43 91.36%);
  box-shadow: 0px 2px 14px rgb(0 0 0 / 6%);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  height: 60px;
}

.dx-popup-title .dx-closebutton .dx-icon {
  color: #fff;
}

label.dx-field-item-label.dx-field-item-label-location-left {
  padding-bottom: 6px;
}

.dx-texteditor-container,
.dx-datagrid-container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 40px;

  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%);
  overflow: hidden;
}

.dx-texteditor-input,
.dx-datagrid-input {
  padding: 10px 16px;
}

.dx-popup-bottom .dx-button {
  min-width: 211px;
  height: 40px;

  font-size: 16px;
  font-weight: 500;
  color: #fff;

  background-color: #00937c;
  border: 1px solid #00937c;
  box-shadow: 0px 2.18941px 2.91922px rgb(0 0 0 / 25%),
    0px 0.729805px 2.18941px rgb(0 0 0 / 12%);
  border-radius: 4.37883px;
}

.dx-button.dx-state-hover {
  filter: brightness(90%);
}

.dx-popup-bottom.dx-toolbar {
  padding: 10px 20px;
  margin-top: -10px;
  overflow: visible;
}

.dx-button-has-text .dx-button-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 9px 18px;
}

.dx-popup-bottom.dx-toolbar .dx-toolbar-items-container {
  height: 40px;
  overflow: visible;
}

.dx-placeholder::before {
  padding: 12px 16px;
}

.dx-field-item-content.dx-field-item-content-location-right {
  position: relative;
}

.dx-show-invalid-badge.dx-textbox.dx-texteditor.dx-editor-outlined.dx-texteditor-empty.dx-widget.dx-state-focused {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}

.dx-form-group-with-caption > .dx-form-group-content {
  padding-top: 19px;
  margin-top: 6px;
  padding-bottom: 40px;
}

.dx-layout-manager .dx-field-item:not(.dx-first-row) {
  padding-top: 20px;
}

.dx-form-group-caption::after {
  content: "";
  width: 100px;
  border-top: 1px solid black;
}

.dx-form-group-caption {
  font-size: 20px;
  position: absolute;
  top: 0px;
  left: 0;
  margin-top: -15px;
  background-color: #fff;
  padding-right: 24px;
}

.dx-form.dx-widget.dx-visibility-change-handler {
  margin-top: 10px;
}

// .dx-form-group-with-caption.dx-form-group.dx-group-colcount-3 {
//   border-top: 1px solid #ecf0f2;
//   position: relative;
// }

// .dx-datagrid.dx-gridbase-container,
// .dx-treelist-container.dx-gridbase-container {
// padding: 20px;

//   background: #ffffff;
//   box-shadow: 0px 2px 12px rgba(37, 51, 66, 0.15);
//   border-radius: 8px;
// }

.dx-datagrid.dx-gridbase-container,
.dx-treelist-container.dx-gridbase-container {
  padding: 0 20px;

  background: transparent;
  border-radius: 8px;
}

.dx-datagrid-rowsview.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-native.dx-scrollable-native-generic,
.dx-treelist-rowsview.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-native.dx-scrollable-native-generic {
  border: none;
}

.dx-datagrid-header-panel,
.dx-treelist-header-panel {
  background-color: transparent;
  border: none;
  padding-bottom: 32px;
}

// tr.dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-row-alt.dx-state-hover {
//   background-color: rgba(254, 202, 32, 0.1);
// }

// tr.dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-state-hover {
//   background-color: rgba(254, 202, 32, 0.1);
// }

// tr.dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-row-alt {
//   background-color: rgba(254, 202, 32, 0.1);
// }

tr.dx-row.dx-data-row.dx-row-lines.dx-column-lines.dx-row-focused.dx-cell-focus-disabled {
  background-color: rgba(254, 202, 32, 0.08);
}

td.dx-command-edit.dx-command-edit-with-icons.dx-cell-focus-disabled.dx-datagrid-drag-action {
  background: transparent;
}

//

.dx-button-mode-contained {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-color: #fff;
  color: #00937c;
  // box-shadow: 0px 1px 3px rgb(0 0 0 / 12%);
  border-radius: 5px;
  line-height: 61px;
}

.dx-button-mode-outlined {
  background-color: #fff;
  border-color: #fff;
  color: #00937c;
}

.dx-calendar-navigator
  .dx-calendar-caption-button.dx-button
  .dx-button-content {
  width: 218px;
  padding: 2px 15px 4px;
  color: #00937c;
}

.dx-toolbar-text-auto-hide .dx-button .dx-button-content {
  padding: 10px;
}

.dx-pager .dx-pages .dx-page {
  width: 30px;
  padding: 7px 10px;
  // color: #fff;
}

.dx-toolbar {
  background: transparent;
}

.dx-toolbar .dx-toolbar-items-container {
  height: 42px;
  overflow: visible;
}

.dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
  cursor: inherit;
  text-shadow: none;
  color: #fff;
  border-color: transparent;
  background-color: #00937c;
}

.dx-dropdowneditor-icon {
  width: 40px;
}

.dx-datebox-calendar .dx-dropdowneditor-icon {
  width: 40px;
}

.dx-datagrid-rowsview
  .dx-row-focused.dx-data-row
  .dx-command-edit:not(.dx-focused)
  .dx-link,
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused),
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused) {
  background-color: rgba(254, 202, 32, 0.1);
  color: #333;
  // border-bottom: 1px solid #ddd;
  border: none;
}

.dx-treelist-rowsview
  .dx-row-focused.dx-data-row
  .dx-command-edit:not(.dx-focused)
  .dx-link,
.dx-treelist-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused),
.dx-treelist-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused) {
  background-color: rgba(254, 202, 32, 0.1);
  color: #333;
  border: none;
}

.dx-datagrid-rowsview .dx-row,
.dx-treelist-rowsview .dx-row {
  border-bottom: 1px solid #ddd;
}

.dx-treelist-rowsview.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-native.dx-scrollable-native-generic,
.dx-datagrid-rowsview.dx-scrollable.dx-visibility-change-handler.dx-scrollable-both.dx-scrollable-native.dx-scrollable-native-generic {
  background: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dx-tabpanel > .dx-tabpanel-tabs .dx-tabs {
  padding-top: 15px;

  color: #fff;
  background-color: transparent;
}

.dx-tabpanel > .dx-tabpanel-tabs .dx-tab {
  width: max-content;
  padding: 14px 25px;
  margin-right: 20px;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.dx-tabs-wrapper {
  display: flex;
}

col {
  min-width: 180px;
}

.dx-datagrid-rowsview
  .dx-row-focused.dx-data-row
  .dx-command-edit:not(.dx-focused)
  .dx-link
  .dx-datagrid-group-closed,
.dx-datagrid-rowsview
  .dx-row-focused.dx-data-row
  .dx-command-edit:not(.dx-focused)
  .dx-link
  .dx-datagrid-group-opened,
.dx-datagrid-rowsview
  .dx-row-focused.dx-data-row
  > td:not(.dx-focused)
  .dx-datagrid-group-closed,
.dx-datagrid-rowsview
  .dx-row-focused.dx-data-row
  > td:not(.dx-focused)
  .dx-datagrid-group-opened,
.dx-datagrid-rowsview
  .dx-row-focused.dx-data-row
  > tr
  > td:not(.dx-focused)
  .dx-datagrid-group-closed,
.dx-datagrid-rowsview
  .dx-row-focused.dx-data-row
  > tr
  > td:not(.dx-focused)
  .dx-datagrid-group-opened {
  color: #333;
}

// ==== SideBar styles ====

ul.dx-treeview-node-container.dx-treeview-node-container-opened {
  padding-left: 10px;
}

.side-navigation-menu .menu-container .dx-treeview .dx-treeview-item .dx-icon {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 40px !important;
  margin: 0 !important;
}

.dx-item-content.dx-treeview-item-content {
  padding-left: 50px;
  position: relative;
}
