.home-container {
  .home-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .item {
    margin: 0 10px;
  }
}
