@import "../../themes/generated/variables.base.scss";

.reset-password-form {
  padding-top: 24px;
  border-top: 1px solid #eeeeee;

  .submit-button {
    margin-top: 40px;
  }

  .login-link {
    color: $base-accent;
    font-size: 16px;
    text-align: center;
  }

  .dx-label-h-align {
    font-size: 16px;
    font-weight: 500;
  }

  .dx-field-item-label-content {
    margin-bottom: 12px;
  }

  .dx-texteditor.dx-editor-filled {
    background: #fff;
    border: 1px solid #8692a6;
    border-radius: 6px;
  }

  .dx-texteditor.dx-state-focused.dx-editor-filled {
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.04);
  }

  .dx-button-text {
    font-size: 16px;
    font-weight: 500;
  }

  .dx-editor-filled .dx-texteditor-input {
    padding: 0 30px;
  }
}
